.container3 {
  height: 293px;
  width: 176px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-right: 18px;
}
.textArea {
  width: 100%;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 9px;
}

.textArea > h6 {
  margin: 0px;
}
