@import url('https://fonts.googleapis.com/css2?family=Economica&family=Fira+Code:wght@500&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  background-color: black;
}
