.Header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 550px;
  padding: 19px;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  gap: 6px;
  box-sizing: border-box;
}

.Header > h1 {
  margin: 0;
  color: white;
  font-size: 20.75px;
  line-height: 20.75px;
}

.Header > h2 {
  font-size: 12px;
  font-family: "Inter";
  font-weight: 500;
  margin-left: 125.21px;
  color: white;
}

.Input {
  width: 215px;
  height: 35px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}

.submitBtn {
  width: 477px;
  height: 40px;
  color: white;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border: 0;
  margin-top: 15px;

  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
}

.img111 {
  margin-top: 47px;
  background: url("../images/memeimg.png");
  width: 477px;
  height: 268px;
  border-radius: 2px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.imageText {
  font-family: "Impact";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  width: max-content;

  color: #ffffff;

  -webkit-text-stroke: 0.5px black;
}
